<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>ok yay you logged in</h1>
        <form action='{{ url_for("leaderboard2")}}' method="POST">
            <input type="submit" value="See Leaderboard" />
        </form>
        <form action='{{ url_for("toCode")}}' method="POST">
            <input type="submit" value="Submit Code" />
        </form>
    </body>
</html>
